@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Nordique Pro font faces */
@font-face {
  font-family: 'Nordique Pro';
  src: url('/fonts/fontspring-demo-nordiquepro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nordique Pro';
  src: url('/fonts/fontspring-demo-nordiquepro-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nordique Pro';
  src: url('/fonts/fontspring-demo-nordiquepro-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nordique Pro';
  src: url('/fonts/fontspring-demo-nordiquepro-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nordique Pro Inline';
  src: url('/fonts/fontspring-demo-nordiquepro-inline.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nordique Pro Cyrillic Bold';
  src: url('/fonts/fontspring-demo-nordiquepro-cyrillic-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Nordique Pro', sans-serif; /* Set as default font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
